UPSTREAM_URL=https://www.diskbuddy.com
UPSTREAM_ALIASES=https://diskbuddy.com
PUBLIC_URL=http://localhost:3000
PORT=3000
HOST=0.0.0.0
INDEXABLE=false
CUSTOM_404=true
CANONICAL_MODE=mirror
TRUST_PROXY=false
ENFORCE_PUBLIC_ORIGIN=true
SANITIZE_JSONLD=true
REWRITE_SCRIPTS=false
UPSTREAM_TIMEOUT_MS=30000
MAX_TRANSFORM_BYTES=16777216
MAX_REQUEST_BYTES=16777216
SITEMAP_PATHS=
SITEMAP_PAGE_PATHS=